In [1]:
#import dependencies
from pybaseball import team_pitching
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd

from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

from pybaseball import team_batting
from pybaseball import schedule_and_record
from pybaseball import bwar_bat
import csv
import os
import json
import requests

In [2]:
#MySQL connection
engine = create_engine('mysql+pymysql://root:<password>@localhost:3306/baseball_data')

#function to import data in Mysql
def import_in_sql(data, table):
    data.to_sql(name=table, con=engine, if_exists='replace', index=True)

In [3]:
engine

Engine(mysql+pymysql://root:***@localhost:3306/baseball_data)

In [4]:
#example of import data in to Mysql
#convert data in to panda dataframe
pitching_data = team_pitching(2015,2016)
pitching_data.head()
data = pd.DataFrame(data = pitching_data)
#clean data
pitching_data_sql = data[['Season','K/9']]
pitching_data_sql.rename(columns={'K/9':'K_9'}, inplace=True)
#import data in to MySQL
import_in_sql(data=pitching_data_sql, table='pitching_data_table_n')

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [5]:
##Creating team data from 2015-2018
##Displaying the data
team_results_df = team_batting(2015, 2018)
team_results_df.head()
team_results_df[["Team", "Season", "SB"]]
team_results_sql=team_results_df[["Team", "Season", "SB"]]
#import data in to MySQL
import_in_sql(data=team_results_sql, table='team_batting')

In [6]:
##Creating team list with abbreviations 
##Displaying the data
file = os.path.join("janel/baseball.csv")
df = pd.read_csv(file, encoding="ISO-8859-1")
df.head()

    TeamName ABBR     HomeBase
0     Angels  LAA  Los Angeles
1     Astros  HOU      Houston
2  Athletics  OAK      Oakland
3   BlueJays  TOR      Toronto
4     Braves  ATL      Atlanta

In [7]:
##Creating lists to use in for loop
abbr_list= df['ABBR'].tolist()
city_list= df['HomeBase'].tolist()
team_list= df['TeamName'].tolist()

In [8]:
##Creating short data frame for 2018
##using for loop to get number of winning and lossing games
win_num_list2018=[]
loss_num_list2018 = []
for x in abbr_list:
    schedule_data2018 = schedule_and_record(2018, x)
    schedule_data2018_short = schedule_data2018.loc[:,["Tm", "Home_Away", "Opp","W/L", "Time"]]
    wh_df = schedule_data2018_short.loc[(schedule_data2018_short["Home_Away"] == "Home")&(schedule_data2018_short["W/L"] == "W")]
    lh_df = schedule_data2018_short.loc[(schedule_data2018_short["Home_Away"] == "Home")&(schedule_data2018_short["W/L"] == "L")]
    win_num = len(wh_df['Tm'])
    loss_num = len(lh_df['Tm'])
    win_num_list2018.append(win_num)
    loss_num_list2018.append(loss_num)

In [9]:
##Creating short data frame for 2017
##using for loop to get number of winning and lossing games
win_num_list2017=[]
loss_num_list2017 = []
for x in abbr_list:
    schedule_data2017 = schedule_and_record(2017, x)
    schedule_data2017_short = schedule_data2017.loc[:,["Tm", "Home_Away", "Opp","W/L", "Time"]]
    wh_df = schedule_data2017_short.loc[(schedule_data2017_short["Home_Away"] == "Home")&(schedule_data2017_short["W/L"] == "W")]
    lh_df = schedule_data2017_short.loc[(schedule_data2017_short["Home_Away"] == "Home")&(schedule_data2017_short["W/L"] == "L")]
    win_num = len(wh_df['Tm'])
    loss_num = len(lh_df['Tm'])
    win_num_list2017.append(win_num)
    loss_num_list2017.append(loss_num)

In [10]:
##Creating short data frame for 2016
##using for loop to get number of winning and lossing games
win_num_list2016=[]
loss_num_list2016 = []
for x in abbr_list:
    schedule_data2016 = schedule_and_record(2016, x)
    schedule_data2016_short = schedule_data2016.loc[:,["Tm", "Home_Away", "Opp","W/L", "Time"]]
    wh_df = schedule_data2016_short.loc[(schedule_data2016_short["Home_Away"] == "Home")&(schedule_data2016_short["W/L"] == "W")]
    lh_df = schedule_data2016_short.loc[(schedule_data2016_short["Home_Away"] == "Home")&(schedule_data2016_short["W/L"] == "L")]
    win_num = len(wh_df['Tm'])
    loss_num = len(lh_df['Tm'])
    win_num_list2016.append(win_num)
    loss_num_list2016.append(loss_num)

In [11]:
##Creating short data frame for 2015
##using for loop to get number of winning and lossing games
win_num_list2015=[]
loss_num_list2015 = []
for x in abbr_list:
    schedule_data2015 = schedule_and_record(2015, x)
    schedule_data2015_short = schedule_data2015.loc[:,["Tm", "Home_Away", "Opp","W/L", "Time"]]
    wh_df = schedule_data2015_short.loc[(schedule_data2015_short["Home_Away"] == "Home")&(schedule_data2015_short["W/L"] == "W")]
    lh_df = schedule_data2015_short.loc[(schedule_data2015_short["Home_Away"] == "Home")&(schedule_data2015_short["W/L"] == "L")]
    win_num = len(wh_df['Tm'])
    loss_num = len(lh_df['Tm'])
    win_num_list2015.append(win_num)
    loss_num_list2015.append(loss_num)

In [12]:
##Creating short data frame for 2014
##using for loop to get number of winning and lossing games
win_num_list2014=[]
loss_num_list2014 = []
for x in abbr_list:
    schedule_data2014 = schedule_and_record(2014, x)
    schedule_data2014_short = schedule_data2014.loc[:,["Tm", "Home_Away", "Opp","W/L", "Time"]]
    wh_df = schedule_data2014_short.loc[(schedule_data2014_short["Home_Away"] == "Home")&(schedule_data2014_short["W/L"] == "W")]
    lh_df = schedule_data2014_short.loc[(schedule_data2014_short["Home_Away"] == "Home")&(schedule_data2014_short["W/L"] == "L")]
    win_num = len(wh_df['Tm'])
    loss_num = len(lh_df['Tm'])
    win_num_list2014.append(win_num)
    loss_num_list2014.append(loss_num)

In [13]:
##Creating short data frame for 2013
##using for loop to get number of winning and lossing games
win_num_list2013=[]
loss_num_list2013 = []
for x in abbr_list:
    schedule_data2013 = schedule_and_record(2013, x)
    schedule_data2013_short = schedule_data2013.loc[:,["Tm", "Home_Away", "Opp","W/L", "Time"]]
    wh_df = schedule_data2013_short.loc[(schedule_data2013_short["Home_Away"] == "Home")&(schedule_data2013_short["W/L"] == "W")]
    lh_df = schedule_data2013_short.loc[(schedule_data2013_short["Home_Away"] == "Home")&(schedule_data2013_short["W/L"] == "L")]
    win_num = len(wh_df['Tm'])
    loss_num = len(lh_df['Tm'])
    win_num_list2013.append(win_num)
    loss_num_list2013.append(loss_num)

In [14]:
api_key = "25bc90a1196e6f153eece0bc0b0fc9eb"

In [15]:
#using json request to get coordinates for each city
url = "http://api.openweathermap.org/data/2.5/weather?"
lat = []
lon = []

for city in city_list:
# Build query URL
    query_url = url + "appid=" + api_key + "&q=" + city
    response = requests.get(query_url).json()
    lat.append(response['coord']['lat'])
    lon.append(response['coord']['lon'])

In [16]:
#creating data frame with all information
overview2018 = pd.DataFrame({"year": 2018,
                             "abbr": abbr_list,
                             "team_name": team_list,
                             "home_base": city_list,
                         "win": win_num_list2018,
                         "loss": loss_num_list2018,
                        "lat": lat,
                        "lon": lon})
overview2017 = pd.DataFrame({"year": 2017,
                             "abbr": abbr_list,
                             "team_name": team_list,
                             "home_base": city_list,
                         "win": win_num_list2017,
                         "loss": loss_num_list2017,
                        "lat": lat,
                        "lon": lon})
overview2016 = pd.DataFrame({"year": 2016,
                             "abbr": abbr_list,
                             "team_name": team_list,
                             "home_base": city_list,
                         "win": win_num_list2016,
                         "loss": loss_num_list2016,
                        "lat": lat,
                        "lon": lon})
overview2015 = pd.DataFrame({"year": 2015,
                             "abbr": abbr_list,
                             "team_name": team_list,
                             "home_base": city_list,
                         "win": win_num_list2015,
                         "loss": loss_num_list2015,
                        "lat": lat,
                        "lon": lon})
overview2014 = pd.DataFrame({"year": 2014,
                             "abbr": abbr_list,
                             "team_name": team_list,
                             "home_base": city_list,
                         "win": win_num_list2014,
                         "loss": loss_num_list2014,
                        "lat": lat,
                        "lon": lon})
overview2013 = pd.DataFrame({"year": 2013,
                             "abbr": abbr_list,
                             "team_name": team_list,
                             "home_base": city_list,
                         "win": win_num_list2013,
                         "loss": loss_num_list2013,
                        "lat": lat,
                        "lon": lon})

In [17]:
#saving files as csv
overview2018.to_csv('janel/baseball2018_coordinates.csv')
overview2017.to_csv('janel/baseball2017_coordinates.csv')
overview2016.to_csv('janel/baseball2016_coordinates.csv')
overview2015.to_csv('janel/baseball2015_coordinates.csv')
overview2014.to_csv('janel/baseball2014_coordinates.csv')
overview2013.to_csv('janel/baseball2013_coordinates.csv')

In [18]:
#saving files as json
overview2018.to_json('janel/baseball2018_coordinates.json', orient='records')
overview2017.to_json('janel/baseball2017_coordinates.json', orient='records')
overview2016.to_json('janel/baseball2016_coordinates.json', orient='records')
overview2015.to_json('janel/baseball2015_coordinates.json', orient='records')
overview2014.to_json('janel/baseball2014_coordinates.json', orient='records')
overview2013.to_json('janel/baseball2013_coordinates.json', orient='records')

In [19]:
##merging data frames
frames = [overview2013, overview2014,overview2015, overview2016,overview2017, overview2018,]
win_loss_results = pd.concat(frames)
win_loss_results.head()

   year abbr  team_name    home_base  win  loss    lat     lon
0  2013  LAA     Angels  Los Angeles   32    42  34.05 -118.24
1  2013  HOU     Astros      Houston   20    57  29.76  -95.37
2  2013  OAK  Athletics      Oakland   44    29  37.80 -122.27
3  2013  TOR   BlueJays      Toronto   34    41  43.65  -79.39
4  2013  ATL     Braves      Atlanta   45    25  33.75  -84.39

In [20]:
#import data in to MySQL
import_in_sql(data=win_loss_results, table='win_loss_results')

In [21]:
#importing and cleaning bwar_bat data
bwar_bat_df = bwar_bat()
bwar_bat_df.sort_values(by=['year_ID'])
bwar_bat_df_new = bwar_bat_df[["name_common","player_ID","year_ID","team_ID","salary","PA","G"]]
bwar_bat_df_new = bwar_bat_df_new.replace({'NaN': None})
bwar_bat_df_new = bwar_bat_df_new[bwar_bat_df_new.salary.notna()]
bwar_bat_df_new = bwar_bat_df_new[bwar_bat_df_new.PA.notna()]
bwar_bat_df_new = bwar_bat_df_new[bwar_bat_df_new.G.notna()]

#import bwar_bat data in to MySQL
import_in_sql(data=bwar_bat_df_new, table='bwar_bat')