# getting each year of data together

In [1]:
#Dependencies
from pybaseball import pitching_stats_range
from pybaseball import standings
import pandas as pd
import re

# 2018

In [2]:
pitching1 = pitching_stats_range('2018-03-29', '2018-10-04')
pitching2018 = pd.DataFrame(pitching1)
standings2018 = standings(2018)
results2018 = pd.concat(standings2018)
combined2018 = pitching2018.merge(results2018, on ='Tm',how = 'outer', suffixes=('_Pitcher', '_Season'))
#trying to only look at the starting pitchers
combined2018 = combined2018.query('GS >= 1')
#going to select only the necessary columns
data2018 = combined2018[['Name','Lev', 'Tm','GS','W_Season','L_Season','IP','ER','ERA','W_Pitcher','L_Pitcher']]
#creating a unique ID
re.search("(?<=\-).+","MLB-AL").group(0)
data2018["id"] = data2018["Tm"] + "-" + data2018["Lev"].map(lambda x: re.search("(?<=\-).+",x).group(0))
#dropping players that played for multiple teams
value_counts = data2018['id'].value_counts()
to_remove = value_counts[value_counts <3].index
data2018 = data2018[~data2018.id.isin(to_remove)]
export2018 = data2018.groupby('id')['IP'].sum()
export2018.to_excel('./exportdata.xlsx')
plot2018 = pd.read_excel('./plotdata.xlsx')
plot_data_2018 = plot2018.set_index('id')
plot_data_2018

/Users/nickrad/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

                  IP_2018  Wins_2018
id
Arizona-NL          929.0         82
Atlanta-NL          858.2         90
Baltimore-AL        915.2         47
Boston-AL           982.6        108
Chicago-AL         1065.4         62
Chicago-NL          876.6         95
Cincinnati-NL       802.9         67
Cleveland-AL       1042.6         91
Colorado-NL         964.6         91
Detroit-AL          898.2         64
Houston-AL         1085.5        103
Kansas City-AL     1000.6         58
Los Angeles-AL      966.2         80
Los Angeles-NL     1088.9         92
Miami-NL            921.1         63
Milwaukee-NL        931.8         96
Minnesota-AL        852.0         78
New York-AL         884.1        100
New York-NL        1032.2         77
Oakland-AL          908.3         97
Philadelphia-NL     873.8         80
Pittsburgh-NL       915.6         82
San Diego-NL        771.0         66
San Francisco-NL    969.3         73
Seattle-AL         1008.1         89
St. Louis-NL        955.7         88
Tampa Bay-AL        795.2         90
Texas-AL            814.8         67
Toronto-AL          815.1         73
Washington-NL       784.9         82

In [3]:
#it works, just need to add in team Wins
export2018 = data2018.groupby('id')['IP'].sum()
export2018.to_excel('./exportdata.xlsx')
plot2018 = pd.read_excel('./plotdata.xlsx')
plot_data_2018 = plot2018.set_index('id')
plot_data_2018

                  IP_2018  Wins_2018
id
Arizona-NL          929.0         82
Atlanta-NL          858.2         90
Baltimore-AL        915.2         47
Boston-AL           982.6        108
Chicago-AL         1065.4         62
Chicago-NL          876.6         95
Cincinnati-NL       802.9         67
Cleveland-AL       1042.6         91
Colorado-NL         964.6         91
Detroit-AL          898.2         64
Houston-AL         1085.5        103
Kansas City-AL     1000.6         58
Los Angeles-AL      966.2         80
Los Angeles-NL     1088.9         92
Miami-NL            921.1         63
Milwaukee-NL        931.8         96
Minnesota-AL        852.0         78
New York-AL         884.1        100
New York-NL        1032.2         77
Oakland-AL          908.3         97
Philadelphia-NL     873.8         80
Pittsburgh-NL       915.6         82
San Diego-NL        771.0         66
San Francisco-NL    969.3         73
Seattle-AL         1008.1         89
St. Louis-NL        955.7         88
Tampa Bay-AL        795.2         90
Texas-AL            814.8         67
Toronto-AL          815.1         73
Washington-NL       784.9         82

# 2017

In [4]:
#Nick data
#looking at number of innings pitched and wins for 2017 season
pitching2 = pitching_stats_range('2017-04-02', '2017-10-02')
pitching2017 = pd.DataFrame(pitching2)
standings2017 = standings(2017)
results2017 = pd.concat(standings2017)
combined2017 = pitching2017.merge(results2018, on ='Tm',how = 'outer', suffixes=('_Pitcher', '_Season'))
#trying to only look at the starting pitchers
combined2017 = combined2017.query('GS >= 1')
#going to select only the necessary columns
data2017 = combined2017[['Name','Lev', 'Tm','GS','W_Season','L_Season','IP','ER','ERA','W_Pitcher','L_Pitcher']]
#creating a unique ID
re.search("(?<=\-).+","MLB-AL").group(0)
data2017["id"] = data2017["Tm"] + "-" + data2017["Lev"].map(lambda x: re.search("(?<=\-).+",x).group(0))
#dropping players that played for multiple teams
value_counts = data2017['id'].value_counts()
to_remove = value_counts[value_counts <3].index
data2017 = data2017[~data2017.id.isin(to_remove)]
export2017 = data2017.groupby('id')['IP'].sum()
export2017.to_excel('./export2017.xlsx')
plot2017 = pd.read_excel('./plot2017.xlsx')
plot_data_2017 = plot2017.set_index('id')
plot_data_2017

/Users/nickrad/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                  IP_2017 Wins_2017
id
Arizona-NL         1053.8        93
Atlanta-NL          779.5        72
Baltimore-AL        936.2        75
Boston-AL           975.1        93
Chicago-AL          707.8        67
Chicago-NL          848.1        92
Cincinnati-NL       936.4        68
Cleveland-AL        964.7       102
Colorado-NL         941.6        87
Detroit-AL          832.0        64
Houston-AL          963.0       101
Kansas City-AL      890.8        80
Los Angeles-AL     1060.3        80
Los Angeles-NL      946.1       104
Miami-NL            851.1        77
Milwaukee-NL        891.2        86
Minnesota-AL        779.1        85
New York-AL         926.0        91
New York-NL         885.9        70
Oakland-AL          798.1        75
Philadelphia-NL     810.9        66
Pittsburgh-NL       926.6        75
San Diego-NL        775.6        71
San Francisco-NL    984.9        64
Seattle-AL          735.8        78
St. Louis-NL        777.7        83
Tampa Bay-AL        907.5        80
Texas-AL            887.7        78
Toronto-AL          761.6        76
Washington-NL       986.9   97_2017

In [5]:
export2017 = data2017.groupby('id')['IP'].sum()
export2017.to_excel('./export2017.xlsx')
plot2017 = pd.read_excel('./plot2017.xlsx')
plot_data_2017 = plot2017.set_index('id')
plot_data_2017

                  IP_2017 Wins_2017
id
Arizona-NL         1053.8        93
Atlanta-NL          779.5        72
Baltimore-AL        936.2        75
Boston-AL           975.1        93
Chicago-AL          707.8        67
Chicago-NL          848.1        92
Cincinnati-NL       936.4        68
Cleveland-AL        964.7       102
Colorado-NL         941.6        87
Detroit-AL          832.0        64
Houston-AL          963.0       101
Kansas City-AL      890.8        80
Los Angeles-AL     1060.3        80
Los Angeles-NL      946.1       104
Miami-NL            851.1        77
Milwaukee-NL        891.2        86
Minnesota-AL        779.1        85
New York-AL         926.0        91
New York-NL         885.9        70
Oakland-AL          798.1        75
Philadelphia-NL     810.9        66
Pittsburgh-NL       926.6        75
San Diego-NL        775.6        71
San Francisco-NL    984.9        64
Seattle-AL          735.8        78
St. Louis-NL        777.7        83
Tampa Bay-AL        907.5        80
Texas-AL            887.7        78
Toronto-AL          761.6        76
Washington-NL       986.9   97_2017

# 2016

In [6]:
pitching3 = pitching_stats_range('2016-04-03', '2016-10-02')
pitching2016 = pd.DataFrame(pitching3)
standings2016 = standings(2016)
results2016 = pd.concat(standings2016)
combined2016 = pitching2016.merge(results2018, on ='Tm',how = 'outer', suffixes=('_Pitcher', '_Season'))
#trying to only look at the starting pitchers
combined2016 = combined2016.query('GS >= 1')
#going to select only the necessary columns
data2016 = combined2016[['Name','Lev', 'Tm','GS','W_Season','L_Season','IP','ER','ERA','W_Pitcher','L_Pitcher']]
#creating a unique ID
re.search("(?<=\-).+","MLB-AL").group(0)
data2016["id"] = data2016["Tm"] + "-" + data2016["Lev"].map(lambda x: re.search("(?<=\-).+",x).group(0))
#dropping players that played for multiple teams
value_counts = data2016['id'].value_counts()
to_remove = value_counts[value_counts <4].index
data2016 = data2016[~data2016.id.isin(to_remove)]
export2016 = data2016.groupby('id')['IP'].sum()
export2016.to_excel('./export2016.xlsx')
#manually input data
plot2016 = pd.read_excel('./plot2016.xlsx')
plot_data_2016 = plot2016.set_index('id')
plot_data_2016

/Users/nickrad/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

                  IP_2016  Wins_2016
id
Arizona-NL          966.1         69
Atlanta-NL          845.2         68
Baltimore-AL        974.9         89
Boston-AL           946.5         93
Chicago-AL          831.6         78
Chicago-NL         1030.8        103
Cincinnati-NL       997.3         68
Cleveland-AL       1038.5         94
Colorado-NL        1041.9         75
Detroit-AL         1018.8         86
Houston-AL          997.9         84
Kansas City-AL     1053.9         81
Los Angeles-AL      562.9         74
Los Angeles-NL      829.1         91
Miami-NL            879.9         79
Milwaukee-NL        918.5         73
Minnesota-AL        731.5         59
New York-AL         889.1         84
New York-NL        1001.2         87
Oakland-AL          832.9         69
Philadelphia-NL     901.8         71
Pittsburgh-NL       700.9         78
San Diego-NL        329.6         68
San Francisco-NL    956.8         87
Seattle-AL          793.9         86
St. Louis-NL        965.9         86
Tampa Bay-AL        905.9         68
Texas-AL            945.3         95
Toronto-AL          936.2         89
Washington-NL      1032.6         95

In [7]:
export2016 = data2016.groupby('id')['IP'].sum()
export2016.to_excel('./export2016.xlsx')
plot2016 = pd.read_excel('./plot2016.xlsx')
plot_data_2016 = plot2016.set_index('id')
plot_data_2016

                  IP_2016  Wins_2016
id
Arizona-NL          966.1         69
Atlanta-NL          845.2         68
Baltimore-AL        974.9         89
Boston-AL           946.5         93
Chicago-AL          831.6         78
Chicago-NL         1030.8        103
Cincinnati-NL       997.3         68
Cleveland-AL       1038.5         94
Colorado-NL        1041.9         75
Detroit-AL         1018.8         86
Houston-AL          997.9         84
Kansas City-AL     1053.9         81
Los Angeles-AL      562.9         74
Los Angeles-NL      829.1         91
Miami-NL            879.9         79
Milwaukee-NL        918.5         73
Minnesota-AL        731.5         59
New York-AL         889.1         84
New York-NL        1001.2         87
Oakland-AL          832.9         69
Philadelphia-NL     901.8         71
Pittsburgh-NL       700.9         78
San Diego-NL        329.6         68
San Francisco-NL    956.8         87
Seattle-AL          793.9         86
St. Louis-NL        965.9         86
Tampa Bay-AL        905.9         68
Texas-AL            945.3         95
Toronto-AL          936.2         89
Washington-NL      1032.6         95

In [8]:
#total data
pd.read_excel('./totalplotdata.xlsx')

,id,IP_2018,Wins_2018,IP_2017,Wins_2017,IP_2016,Wins_2016
0,Arizona-NL,929.0,82,1053.8,93,966.1,69
1,Atlanta-NL,858.2,90,779.5,72,845.2,68
2,Baltimore-AL,915.2,47,936.2,75,974.9,89
3,Boston-AL,982.6,108,975.1,93,946.5,93
4,Chicago-AL,1065.4,62,707.8,67,831.6,78
5,Chicago-NL,876.6,95,848.1,92,1030.8,103
6,Cincinnati-NL,802.9,67,936.4,68,997.3,68
7,Cleveland-AL,1042.6,91,964.7,102,1038.5,94
8,Colorado-NL,964.6,91,941.6,87,1041.9,75
9,Detroit-AL,898.2,64,832.0,64,1018.8,86
10,Houston-AL,1085.5,103,963.0,101,997.9,84
11,Kansas City-AL,1000.6,58,890.8,80,1053.9,81
12,Los Angeles-AL,966.2,80,1060.3,80,562.9,74
13,Los Angeles-NL,1088.9,92,946.1,104,829.1,91
14,Miami-NL,921.1,63,851.1,77,879.9,79
15,Milwaukee-NL,931.8,96,891.2,86,918.5,73
16,Minnesota-AL,852.0,78,779.1,85,731.5,59
17,New York-AL,884.1,100,926.0,91,889.1,84
18,New York-NL,1032.2,77,885.9,70,1001.2,87
19,Oakland-AL,908.3,97,798.1,75,832.9,69
20,Philadelphia-NL,873.8,80,810.9,66,901.8,71
21,Pittsburgh-NL,915.6,82,926.6,75,700.9,78
22,San Diego-NL,771.0,66,775.6,71,329.6,68
23,San Francisco-NL,969.3,73,984.9,64,956.8,87
24,Seattle-AL,1008.1,89,735.8,78,793.9,86
25,St. Louis-NL,955.7,88,777.7,83,965.9,86
26,Tampa Bay-AL,795.2,90,907.5,80,905.9,68
27,Texas-AL,814.8,67,887.7,78,945.3,95
28,Toronto-AL,815.1,73,761.6,76,936.2,89
29,Washington-NL,784.9,82,986.9,97,1032.6,95

In [10]:
plot_data_2016.head()

              IP_2016  Wins_2016
id
Arizona-NL      966.1         69
Atlanta-NL      845.2         68
Baltimore-AL    974.9         89
Boston-AL       946.5         93
Chicago-AL      831.6         78

In [11]:
plot_data_2017.head()

              IP_2017 Wins_2017
id
Arizona-NL     1053.8        93
Atlanta-NL      779.5        72
Baltimore-AL    936.2        75
Boston-AL       975.1        93
Chicago-AL      707.8        67

In [13]:
plot_data_2018.head()

              IP_2018  Wins_2018
id
Arizona-NL      929.0         82
Atlanta-NL      858.2         90
Baltimore-AL    915.2         47
Boston-AL       982.6        108
Chicago-AL     1065.4         62

In [19]:
plot_data_2017_2016 = plot_data_2016.join(plot_data_2017, on='id')
plot_data_2018_2017_2016 = plot_data_2017_2016.join(plot_data_2018, on='id')
plot_data_2018_2017_2016

                  IP_2016  Wins_2016  IP_2017 Wins_2017  IP_2018  Wins_2018
id
Arizona-NL          966.1         69   1053.8        93    929.0         82
Atlanta-NL          845.2         68    779.5        72    858.2         90
Baltimore-AL        974.9         89    936.2        75    915.2         47
Boston-AL           946.5         93    975.1        93    982.6        108
Chicago-AL          831.6         78    707.8        67   1065.4         62
Chicago-NL         1030.8        103    848.1        92    876.6         95
Cincinnati-NL       997.3         68    936.4        68    802.9         67
Cleveland-AL       1038.5         94    964.7       102   1042.6         91
Colorado-NL        1041.9         75    941.6        87    964.6         91
Detroit-AL         1018.8         86    832.0        64    898.2         64
Houston-AL          997.9         84    963.0       101   1085.5        103
Kansas City-AL     1053.9         81    890.8        80   1000.6         58
Los Angeles-AL      562.9         74   1060.3        80    966.2         80
Los Angeles-NL      829.1         91    946.1       104   1088.9         92
Miami-NL            879.9         79    851.1        77    921.1         63
Milwaukee-NL        918.5         73    891.2        86    931.8         96
Minnesota-AL        731.5         59    779.1        85    852.0         78
New York-AL         889.1         84    926.0        91    884.1        100
New York-NL        1001.2         87    885.9        70   1032.2         77
Oakland-AL          832.9         69    798.1        75    908.3         97
Philadelphia-NL     901.8         71    810.9        66    873.8         80
Pittsburgh-NL       700.9         78    926.6        75    915.6         82
San Diego-NL        329.6         68    775.6        71    771.0         66
San Francisco-NL    956.8         87    984.9        64    969.3         73
Seattle-AL          793.9         86    735.8        78   1008.1         89
St. Louis-NL        965.9         86    777.7        83    955.7         88
Tampa Bay-AL        905.9         68    907.5        80    795.2         90
Texas-AL            945.3         95    887.7        78    814.8         67
Toronto-AL          936.2         89    761.6        76    815.1         73
Washington-NL      1032.6         95    986.9   97_2017    784.9         82