# getting each year of data together

In [30]:
#Dependencies
from pybaseball import pitching_stats_range
from pybaseball import standings
import pandas as pd
import re
import difflib

# 2018

In [4]:
pitching1 = pitching_stats_range('2018-03-29', '2018-10-04')
pitching2018 = pd.DataFrame(pitching1)
standings2018 = standings(2018)
results2018 = pd.concat(standings2018)
combined2018 = pitching2018.merge(results2018, on ='Tm',how = 'outer', suffixes=('_Pitcher', '_Season'))
#trying to only look at the starting pitchers
combined2018 = combined2018.query('GS >= 1')
#going to select only the necessary columns
data2018 = combined2018[['Name','Lev', 'Tm','GS','W_Season','L_Season','IP','ER','ERA','W_Pitcher','L_Pitcher']]
#creating a unique ID
re.search("(?<=\-).+","MLB-AL").group(0)
data2018["id"] = data2018["Tm"] + "-" + data2018["Lev"].map(lambda x: re.search("(?<=\-).+",x).group(0))
#dropping players that played for multiple teams
value_counts = data2018['id'].value_counts()
to_remove = value_counts[value_counts <3].index
data2018 = data2018[~data2018.id.isin(to_remove)]

/Users/nickrad/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [34]:
#now have to export and manually input the number of wins

1           Boston Red Sox
2         New York Yankees
3           Tampa Bay Rays
4        Toronto Blue Jays
5        Baltimore Orioles
1        Cleveland Indians
2          Minnesota Twins
3           Detroit Tigers
4        Chicago White Sox
5       Kansas City Royals
1           Houston Astros
2        Oakland Athletics
3         Seattle Mariners
4       Los Angeles Angels
5            Texas Rangers
1           Atlanta Braves
2     Washington Nationals
3    Philadelphia Phillies
4            New York Mets
5            Miami Marlins
1        Milwaukee Brewers
2             Chicago Cubs
3      St. Louis Cardinals
4       Pittsburgh Pirates
5          Cincinnati Reds
1      Los Angeles Dodgers
2         Colorado Rockies
3     Arizona Diamondbacks
4     San Francisco Giants
5         San Diego Padres
Name: Tm, dtype: object

In [63]:
#it works, just need to add in team Wins
export2018 = data2018.groupby('id')['IP'].sum()

In [66]:
export2018.to_excel('./exportdata.xlsx')

In [70]:
plot_data_2018 = pd.read_excel('./plotdata.xlsx')
plot_data_2018.set_index('id')

                      IP  Wins
id
Arizona-NL         929.0    82
Atlanta-NL         858.2    90
Baltimore-AL       915.2    47
Boston-AL          982.6   108
Chicago-AL        1065.4    62
Chicago-NL         876.6    95
Cincinnati-NL      802.9    67
Cleveland-AL      1042.6    91
Colorado-NL        964.6    91
Detroit-AL         898.2    64
Houston-AL        1085.5   103
Kansas City-AL    1000.6    58
Los Angeles-AL     966.2    80
Los Angeles-NL    1088.9    92
Miami-NL           921.1    63
Milwaukee-NL       931.8    96
Minnesota-AL       852.0    78
New York-AL        884.1   100
New York-NL       1032.2    77
Oakland-AL         908.3    97
Philadelphia-NL    873.8    80
Pittsburgh-NL      915.6    82
San Diego-NL       771.0    66
San Francisco-NL   969.3    73
Seattle-AL        1008.1    89
St. Louis-NL       955.7    88
Tampa Bay-AL       795.2    90
Texas-AL           814.8    67
Toronto-AL         815.1    73
Washington-NL      784.9    82

# 2017

In [13]:
pitching2 = pitching_stats_range('2017-04-02', '2017-10-02')
pitching2017 = pd.DataFrame(pitching2)
standings2017 = standings(2017)
results2017 = pd.concat(standings2017)
combined2017 = pitching2017.merge(results2018, on ='Tm',how = 'outer', suffixes=('_Pitcher', '_Season'))
#trying to only look at the starting pitchers
combined2017 = combined2017.query('GS >= 1')
#going to select only the necessary columns
data2017 = combined2017[['Name','Lev', 'Tm','GS','W_Season','L_Season','IP','ER','ERA','W_Pitcher','L_Pitcher']]
#creating a unique ID
re.search("(?<=\-).+","MLB-AL").group(0)
data2017["id"] = data2017["Tm"] + "-" + data2017["Lev"].map(lambda x: re.search("(?<=\-).+",x).group(0))
#dropping players that played for multiple teams
value_counts = data2017['id'].value_counts()
to_remove = value_counts[value_counts <3].index
data2017 = data2017[~data2017.id.isin(to_remove)]

/Users/nickrad/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [73]:
export2017 = data2017.groupby('id')['IP'].sum()

In [74]:
export2017.to_excel('./export2017.xlsx')

In [78]:
plot2017 = pd.read_excel('./plot2017.xlsx')
plot_data_2017 = plot2017.set_index('id')
plot_data_2017

                      IP  Wins
id
Arizona-NL        1053.8    93
Atlanta-NL         779.5    72
Baltimore-AL       936.2    75
Boston-AL          975.1    93
Chicago-AL         707.8    67
Chicago-NL         848.1    92
Cincinnati-NL      936.4    68
Cleveland-AL       964.7   102
Colorado-NL        941.6    87
Detroit-AL         832.0    64
Houston-AL         963.0   101
Kansas City-AL     890.8    80
Los Angeles-AL    1060.3    80
Los Angeles-NL     946.1   104
Miami-NL           851.1    77
Milwaukee-NL       891.2    86
Minnesota-AL       779.1    85
New York-AL        926.0    91
New York-NL        885.9    70
Oakland-AL         798.1    75
Philadelphia-NL    810.9    66
Pittsburgh-NL      926.6    75
San Diego-NL       775.6    71
San Francisco-NL   984.9    64
Seattle-AL         735.8    78
St. Louis-NL       777.7    83
Tampa Bay-AL       907.5    80
Texas-AL           887.7    78
Toronto-AL         761.6    76
Washington-NL      986.9    97

# 2016

In [15]:
pitching3 = pitching_stats_range('2016-04-03', '2016-10-02')
pitching2016 = pd.DataFrame(pitching3)
standings2016 = standings(2016)
results2016 = pd.concat(standings2016)
combined2016 = pitching2016.merge(results2018, on ='Tm',how = 'outer', suffixes=('_Pitcher', '_Season'))
#trying to only look at the starting pitchers
combined2016 = combined2016.query('GS >= 1')
#going to select only the necessary columns
data2016 = combined2016[['Name','Lev', 'Tm','GS','W_Season','L_Season','IP','ER','ERA','W_Pitcher','L_Pitcher']]
#creating a unique ID
re.search("(?<=\-).+","MLB-AL").group(0)
data2016["id"] = data2016["Tm"] + "-" + data2016["Lev"].map(lambda x: re.search("(?<=\-).+",x).group(0))
#dropping players that played for multiple teams
value_counts = data2016['id'].value_counts()
to_remove = value_counts[value_counts <4].index
data2016 = data2016[~data2016.id.isin(to_remove)]

/Users/nickrad/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [79]:
export2016 = data2016.groupby('id')['IP'].sum()

In [80]:
export2016.to_excel('./export2016.xlsx')

In [82]:
plot2016 = pd.read_excel('./plot2016.xlsx')

In [83]:
plot_data_2016 = plot2016.set_index('id')

In [84]:
plot_data_2016

                      IP  Wins
id
Arizona-NL         966.1    69
Atlanta-NL         845.2    68
Baltimore-AL       974.9    89
Boston-AL          946.5    93
Chicago-AL         831.6    78
Chicago-NL        1030.8   103
Cincinnati-NL      997.3    68
Cleveland-AL      1038.5    94
Colorado-NL       1041.9    75
Detroit-AL        1018.8    86
Houston-AL         997.9    84
Kansas City-AL    1053.9    81
Los Angeles-AL     562.9    74
Los Angeles-NL     829.1    91
Miami-NL           879.9    79
Milwaukee-NL       918.5    73
Minnesota-AL       731.5    59
New York-AL        889.1    84
New York-NL       1001.2    87
Oakland-AL         832.9    69
Philadelphia-NL    901.8    71
Pittsburgh-NL      700.9    78
San Diego-NL       329.6    68
San Francisco-NL   956.8    87
Seattle-AL         793.9    86
St. Louis-NL       965.9    86
Tampa Bay-AL       905.9    68
Texas-AL           945.3    95
Toronto-AL         936.2    89
Washington-NL     1032.6    95